<hr class="mt-5">
<div id="blog" class="our-blog section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.25s">
        <div class="section-heading">
          <h2><i class="far fa-thumbs-up"></i> Confira os últimos <em>Artigos</em></h2>
        </div>
      </div>
    </div>
    <ng-container *ngIf="(this.publicacoes$ | async).numberOfElements == 1">
      <div class="row justify-content-center mmy-5 py-5">
        <div class="col-lg-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
          <div class="left-image">
            <a><img [src]="(this.publicacoes$ | async).content[0].imageUrl != null ? (this.publicacoes$ | async).content[0].imageUrl : this.semImagemUrl" [alt]="(this.publicacoes$ | async).content[0].titulo"></a>
            <div class="info">
              <div class="inner-content">
                <ul>
                  <li><i class="fa fa-calendar"></i> {{ (this.publicacoes$ | async).content[0].dataCadastro | date }}</li>
                </ul>
                <a><h4>{{ (this.publicacoes$ | async).content[0].titulo }}</h4></a>
                <p>{{ (this.publicacoes$ | async).content[0].descricao }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="(this.publicacoes$ | async).numberOfElements == 2">
      <div class="row mt-5">
        <div class="col-lg-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
          <div class="left-image">
            <a><img [src]="(this.publicacoes$ | async).content[0].imageUrl != null ? (this.publicacoes$ | async).content[0].imageUrl : this.semImagemUrl" [alt]="(this.publicacoes$ | async).content[0].titulo"></a>
            <div class="info">
              <div class="inner-content">
                <ul>
                  <li><i class="fa fa-calendar"></i> {{ (this.publicacoes$ | async).content[0].dataCadastro | date }}</li>
                </ul>
                <a><h4>{{ (this.publicacoes$ | async).content[0].titulo }}</h4></a>
                <p>{{ (this.publicacoes$ | async).content[0].descricao }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="right-list mt-1">
            <ul>
              <li>
                <div class="left-content align-self-center">
                  <span><i class="fa fa-calendar"></i> {{ (this.publicacoes$ | async).content[1].dataCadastro | date }}</span>
                  <a><h4>{{ (this.publicacoes$ | async).content[1].titulo }}</h4></a>
                  <p>{{ (this.publicacoes$ | async).content[1].descricao }}</p>
                </div>
                <div class="right-image">
                  <a><img [src]="(this.publicacoes$ | async).content[1].imageUrl != null ? (this.publicacoes$ | async).content[1].imageUrl : this.semImagemUrl" alt=""></a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="(this.publicacoes$ | async).numberOfElements == 3">
      <div class="row mt-5">
        <div class="col-lg-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
          <div class="left-image">
            <a><img [src]="(this.publicacoes$ | async).content[0].imageUrl != null ? (this.publicacoes$ | async).content[0].imageUrl : this.semImagemUrl" [alt]="(this.publicacoes$ | async).content[0].titulo"></a>
            <div class="info">
              <div class="inner-content">
                <ul>
                  <li><i class="fa fa-calendar"></i> {{ (this.publicacoes$ | async).content[0].dataCadastro | date }}</li>
                </ul>
                <a><h4>{{ (this.publicacoes$ | async).content[0].titulo }}</h4></a>
                <p>{{ (this.publicacoes$ | async).content[0].descricao }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="right-list mt-1">
            <ul>
              <li>
                <div class="left-content align-self-center">
                  <span><i class="fa fa-calendar"></i> {{ (this.publicacoes$ | async).content[1].dataCadastro | date }}</span>
                  <a><h4>{{ (this.publicacoes$ | async).content[1].titulo }}</h4></a>
                  <p>{{ (this.publicacoes$ | async).content[1].descricao }}</p>
                </div>
                <div class="right-image">
                  <a><img [src]="(this.publicacoes$ | async).content[1].imageUrl != null ? (this.publicacoes$ | async).content[1].imageUrl : this.semImagemUrl" alt=""></a>
                </div>
              </li>
              <li>
                <div class="left-content align-self-center">
                  <span><i class="fa fa-calendar"></i> {{ (this.publicacoes$ | async).content[2].dataCadastro | date }}</span>
                  <a><h4>{{ (this.publicacoes$ | async).content[2].titulo }}</h4></a>
                  <p>{{ (this.publicacoes$ | async).content[2].descricao }}</p>
                </div>
                <div class="right-image">
                  <a><img [src]="(this.publicacoes$ | async).content[2].imageUrl != null ? (this.publicacoes$ | async).content[2].imageUrl : this.semImagemUrl" alt=""></a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="(this.publicacoes$ | async).numberOfElements == 4">
      <div class="row mt-5">
        <div class="col-lg-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
          <div class="left-image">
            <a><img [src]="(this.publicacoes$ | async).content[0].imageUrl != null ? (this.publicacoes$ | async).content[0].imageUrl : this.semImagemUrl" [alt]="(this.publicacoes$ | async).content[0].titulo"></a>
            <div class="info">
              <div class="inner-content">
                <ul>
                  <li><i class="fa fa-calendar"></i> {{ (this.publicacoes$ | async).content[0].dataCadastro | date }}</li>
                </ul>
                <a><h4>{{ (this.publicacoes$ | async).content[0].titulo }}</h4></a>
                <p>{{ (this.publicacoes$ | async).content[0].descricao }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="right-list mt-1">
            <ul>
              <li>
                <div class="left-content align-self-center">
                  <span><i class="fa fa-calendar"></i> {{ (this.publicacoes$ | async).content[1].dataCadastro | date }}</span>
                  <a><h4>{{ (this.publicacoes$ | async).content[1].titulo }}</h4></a>
                  <p>{{ (this.publicacoes$ | async).content[1].descricao }}</p>
                </div>
                <div class="right-image">
                  <a><img [src]="(this.publicacoes$ | async).content[1].imageUrl != null ? (this.publicacoes$ | async).content[1].imageUrl : this.semImagemUrl" alt=""></a>
                </div>
              </li>
              <li>
                <div class="left-content align-self-center">
                  <span><i class="fa fa-calendar"></i> {{ (this.publicacoes$ | async).content[2].dataCadastro | date }}</span>
                  <a><h4>{{ (this.publicacoes$ | async).content[2].titulo }}</h4></a>
                  <p>{{ (this.publicacoes$ | async).content[2].descricao }}</p>
                </div>
                <div class="right-image">
                  <a><img [src]="(this.publicacoes$ | async).content[2].imageUrl != null ? (this.publicacoes$ | async).content[2].imageUrl : this.semImagemUrl" alt=""></a>
                </div>
              </li>
              <li>
                <div class="left-content align-self-center">
                  <span><i class="fa fa-calendar"></i> {{ (this.publicacoes$ | async).content[3].dataCadastro | date }}</span>
                  <a><h4>{{ (this.publicacoes$ | async).content[3].titulo }}</h4></a>
                  <p>{{ (this.publicacoes$ | async).content[3].descricao }}</p>
                </div>
                <div class="right-image">
                  <a><img [src]="(this.publicacoes$ | async).content[3].imageUrl != null ? (this.publicacoes$ | async).content[3].imageUrl : this.semImagemUrl" alt=""></a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
