<div class="page-heading">
  <div class="page-title">
      <h3>Colaborador: #{{ (this.colaborador$ | async).id}}</h3>
      <div class="row">
          <div class="col-12 col-md-6 order-md-2 order-first">
              <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/painel']">Dashboard</a></li>
                    <li class="breadcrumb-item"><a [routerLink]="['/painel/colaboradores']">Colaboradores</a></li>
                    <li class="breadcrumb-item active"><a [routerLink]="['/painel/colaboradores', (this.colaborador$ | async).id]">#{{ (this.colaborador$ | async).id}}</a></li>
                  </ol>
              </nav>
          </div>
      </div>
  </div>
  <section class="section">
    <div class="card border">
      <div class="card-header">
        <h4 class="card-title">Informações Gerais</h4>
      </div>
      <div class="card-body">
        <div class="d-flex bd-highlight">
          <div class="p-2 flex-fill bd-highlight">
            <div class="form-group">
              <label for="first-name-column">Data de Cadastro</label>
              <p>{{ (this.colaborador$ | async).dataCadastro | date }}</p>
            </div>
          </div>
        </div>
        <div class="d-flex bd-highlight">
          <div class="p-2 flex-fill bd-highlight">
            <div class="form-group">
              <label for="first-name-column">Nome</label>
              <p>{{ (this.colaborador$ | async).nome + ' ' + (this.colaborador$ | async).sobrenome}}</p>
            </div>
          </div>
        </div>
        <div class="d-flex bd-highlight">
          <div class="p-2 flex-fill bd-highlight">
            <div class="form-group">
              <label for="first-name-column">Logradouro</label>
              <p>{{ (this.colaborador$ | async).endereco.logradouro + ', ' + (this.colaborador$ | async).endereco.numero + ' - ' + (this.colaborador$ | async).endereco.bairro + ', ' + (this.colaborador$ | async).endereco.cep}}</p>
            </div>
          </div>
          <div class="p-2 flex-fill bd-highlight">
            <div class="form-group">
              <label for="first-name-column">Cidade</label>
              <p>{{ (this.colaborador$ | async).endereco.cidade}}</p>
            </div>
          </div>
          <div class="p-2 flex-fill bd-highlight">
            <div class="form-group">
              <label for="first-name-column">Estado</label>
              <p>{{ (this.colaborador$ | async).endereco.estado}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="card border">
      <div class="card-body">
        <div class="table table-bordered table-responsive">
          <table class="table mb-0 table-lg">
              <thead>
                  <tr>
                    <th class="text-center">#ID</th>
                    <th class="text-center">Data Coleta</th>
                    <th class="text-center">Coletor</th>
                    <th class="text-center"><i class="fas fa-bars"></i></th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let coleta of (this.coletas$ | async).content">
                    <td class="text-center">{{ coleta.id }}</td>
                    <td class="text-center">{{ coleta.dataColeta | date }}</td>
                    <td class="text-center">{{ coleta.coletor.nome + ' ' + coleta.coletor.sobrenome }}</td>
                    <td class="text-center">
                      <a class="mx-2" [title]="'Visualizar'" (click)="this.openModalColeta(coleta)">
                        <i class="far fa-eye"></i>
                      </a>
                    </td>
                  </tr>
              </tbody>
          </table>
        </div>
        <app-pagination [response]="coletas$" [sizeOptions]="[5, 10]" (currentPage)="handleCurrentPage($event)" (currentSize)="handleCurrentSize($event)"></app-pagination>
      </div>
    </div>
</section>

</div>
