<div id="about" class="about-us section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="left-image">
          <img src="assets/home/images/about-left-image.png" alt="person graphic">
        </div>
      </div>
      <div class="col-lg-8 align-self-center">
        <div class="services">
          <div class="row">
            <div class="col-lg-6">
              <div class="item">
                <div class="icon">
                  <i class="fas fa-chalkboard-teacher fa-5x text-white"></i>
                </div>
                <div class="right-text">
                  <h4>Gestão Ambiental</h4>
                  <p>Oferecemos para empresas: Consultoria, Treinamentos, Palestras e Parceirias</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="item">
                <div class="icon">
                  <i class="fas fa-code-branch fa-5x text-white"></i>
                </div>
                <div class="right-text">
                  <h4>Ponte Reducicla</h4>
                  <p>Nossa plataforma conecta quem
                    descarta, coleta, vende ou compra resíduos recicláveis.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="item">
                <div class="icon">
                  <i class="fas fa-street-view fa-5x text-white"></i>
                </div>
                <div class="right-text">
                  <h4>Projetos Sociais</h4>
                  <p> Ações comunitárias, mutirões, oficinas, workshops, capacitações, brechós e gincanas educativas.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="item">
                <div class="icon">
                  <i class="fas fa-trash fa-5x text-white"></i>
                </div>
                <div class="right-text">
                  <h4>Lixeira Coletiva</h4>
                  <p>Pontos estratégicos para o descarte de materiais recicláveis nas comunidades.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
