<div id="about" class="about-us section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="left-image wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
          <img src="assets/home/images/about-left-image.png" alt="person graphic">
        </div>
      </div>
      <div class="col-lg-8 align-self-center">
        <div class="services">
          <div class="row">
            <div class="col-lg-6">
              <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
                <div class="icon">
                  <img src="assets/home/images/service-icon-01.png" alt="reporting">
                </div>
                <div class="right-text">
                  <h4>Gestão Ambiental</h4>
                  <p>Oferecemos para empresas: Consultoria, Treinamentos, Palestras e Parceirias</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.7s">
                <div class="icon">
                  <img src="assets/home/images/service-icon-02.png" alt="">
                </div>
                <div class="right-text">
                  <h4>Ponte Reducicla</h4>
                  <p>Nossa plataforma conecta quem
                    descarta, coleta, vende ou compra resíduos recicláveis.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.9s">
                <div class="icon">
                  <img src="assets/home/images/service-icon-03.png" alt="">
                </div>
                <div class="right-text">
                  <h4>Projetos Sociais</h4>
                  <p> Ações comunitárias, mutirões, oficinas, workshops, capacitações, brechós e gincanas educativas.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="1.1s">
                <div class="icon">
                  <img src="assets/home/images/service-icon-04.png" alt="">
                </div>
                <div class="right-text">
                  <h4>Lixeira Coletiva</h4>
                  <p>Pontos estratégicos para o descarte de materiais recicláveis nas comunidades.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
