<div class="page-heading">
  <div class="page-title">
      <h3>Pontos de Coleta</h3>
      <div class="row">
          <div class="col-12 col-md-6 order-md-2 order-first">
              <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/painel']">Dashboard</a></li>
                    <li class="breadcrumb-item active"><a [routerLink]="['/painel/pontos-coleta']">Pontos de Coleta</a></li>
                  </ol>
              </nav>
          </div>
      </div>
  </div>
  <section class="section">
      <div class="card border">
        <div class="card-body">
          <div class="table table-bordered table-responsive">
            <table class="table mb-0 table-lg">
                <thead>
                    <tr>
                      <th class="text-center">#ID</th>
                      <th class="text-center">Data Cadastro</th>
                      <th class="text-center">Status</th>
                      <th class="text-center">Local</th>
                      <th class="text-center">Colaboradores</th>
                      <th class="text-center">Coletas</th>
                      <th class="text-center"><i class="fas fa-bars"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pontoColeta of (this.pontosColeta$ | async).content">
                      <td class="text-center">{{ pontoColeta.id }}</td>
                      <td class="text-center">{{ pontoColeta.dataCadastro | date }}</td>
                      <td class="text-center" *ngIf="pontoColeta.aprovado">
                        <input type="checkbox" class="form-check-input position-static mx-auto" [checked]="true" (click)="this.updateStatus(pontoColeta, false)">
                      </td>
                      <td class="text-center" *ngIf="!pontoColeta.aprovado">
                        <input type="checkbox" class="form-check-input position-static mx-auto" [checked]="false" (click)="this.updateStatus(pontoColeta, true)">
                      </td>
                      <td class="text-center">{{ pontoColeta.endereco.bairro + ' - ' + pontoColeta.endereco.cidade }}</td>
                      <td class="text-center">{{ pontoColeta.colaboradores.length }}</td>
                      <td class="text-center">{{ pontoColeta.coletas.length }}</td>
                      <td class="text-center">
                        <a class="mx-2" [title]="'Visualizar'" [routerLink]="['/painel/pontos-coleta', pontoColeta.id]">
                          <i class="far fa-eye"></i>
                        </a>
                        <a class="mx-2" [title]="'Excluir'" (click)="this.delete(pontoColeta)">
                          <i class="far fa-trash-alt text-danger"></i>
                        </a>
                      </td>
                    </tr>
                </tbody>
            </table>
          </div>
          <app-pagination [response]="pontosColeta$" [sizeOptions]="[5, 10]" (currentPage)="handleCurrentPage($event)" (currentSize)="handleCurrentSize($event)"></app-pagination>
        </div>
      </div>
  </section>
</div>
