<div id="contact" class="contact-us section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 align-self-center">
        <div class="section-heading">
          <h2>Entre em contato conosco</h2>
          <p>Para dúvidas, críticas ou sugestôes entre em contato conosco através dos nossos canais de comunicação.</p>
          <div class="phone-info">
            <h4>Whatsapp: <span><i class="fa fa-phone"></i> <a>(11) 99373-4710</a></span></h4>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <form id="contact">
          <div class="row">
            <div class="col-lg-6">
              <fieldset>
                <input type="text" name="name" placeholder="Nome" autocomplete="on" required>
              </fieldset>
            </div>
            <div class="col-lg-6">
              <fieldset>
                <input type="text" name="surname" placeholder="Sobrenome" autocomplete="on" required>
              </fieldset>
            </div>
            <div class="col-lg-12">
              <fieldset>
                <input type="text" name="email" pattern="[^ @]*@[^ @]*" placeholder="E-mail" required>
              </fieldset>
            </div>
            <div class="col-lg-12">
              <fieldset>
                <textarea class="form-control" name="message" type="text" placeholder="Mensagem" required></textarea>
              </fieldset>
            </div>
            <div class="col-lg-12">
              <fieldset>
                <button type="submit" id="form-submit" class="main-button ">Enviar</button>
              </fieldset>
            </div>
          </div>
          <div class="contact-dec">
            <img src="assets/home/images/contact-decoration.png" alt="">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
