<div class="main-banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-6 align-self-center">
            <div class="left-content header-text">
              <h6 class="text-dark">Bem vindo ao REDUCICLA</h6>
              <h2>Reciclar é se <em class="color-green-secondary">Reformar</em> &amp; <span class="color-purple">Mudar</span> por prazer.</h2>
              <p>Reciclar é fazer nossa parte transformar o mundo em algo sustentável.<br>E tudo que transforma, transforma para melhor!</p>
              <div class="main-blue-button">
                <a href="#">Conheça Nosso APP <i class="fas fa-mobile-alt ms-1"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="right-image">
              <img src="assets/home/images/banner-right-image.png" alt="team meeting">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
