<div class="main-banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-6 align-self-center">
            <div class="left-content header-text">
              <h6 class="text-dark">Bem vindo ao REDUCICLA</h6>
              <h2><em class="color-green-secondary">Reeducar</em> os moradores das comunidades.</h2>
              <p>Promover hábitos sustentáveis e rentáveis através da coleta seletiva, esse é o nosso propósito!</p>
              <div class="main-blue-button">
                <div class="main-button"><a>Conheça Nosso APP</a></div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="right-image">
              <img src="assets/home/images/banner-right-image.png" alt="team meeting">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
