<div id="sidebar" class="active">
  <div class="sidebar-wrapper active">
      <div class="sidebar-header">
          <div class="d-flex justify-content-between">
              <div class="logo">
                  <a href="index.html"><img src="../../assets/painel/images/logo/logo.png" alt="Logo"></a>
              </div>
              <div class="toggler">
                  <a class="sidebar-hide d-xl-none d-block" (click)="this.toggleSideBar()"><i class="bi bi-x bi-middle"></i></a>
              </div>
          </div>
      </div>
      <div class="sidebar-menu">
          <ul class="menu">

              <li class="sidebar-item">
                  <a [routerLink]="['/painel']" class='sidebar-link'>
                      <i class="fas fa-tachometer-alt color-green-secondary"></i>
                      <span>Dashboard</span>
                  </a>
              </li>

              <li class="sidebar-item">
                <a [routerLink]="['/painel/colaboradores']" class='sidebar-link'>
                    <i class="fas fa-street-view color-green-secondary"></i>
                    <span>Colaboradores</span>
                </a>
              </li>

              <li class="sidebar-item">
                <a [routerLink]="['/painel/coletores']" class='sidebar-link'>
                    <i class="fas fa-hiking color-green-secondary"></i>
                    <span>Coletores</span>
                </a>
              </li>

              <li class="sidebar-item">
                <a [routerLink]="['/painel/publicacoes']" class='sidebar-link'>
                    <i class="far fa-newspaper color-green-secondary"></i>
                    <span>Publicações</span>
                </a>
              </li>

              <li class="sidebar-item">
                <a (click)="this.logout()" class='sidebar-link' style="cursor: pointer;">
                    <i class="fas fa-sign-out-alt color-green-secondary"></i>
                    <span>Sair</span>
                </a>
              </li>

          </ul>
      </div>
      <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
  </div>
</div>
