<div id="services" class="our-services section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 align-self-center  wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s">
        <div class="left-image">
          <img src="assets/home/images/services-left-image-2.png" alt="">
        </div>
      </div>
      <div class="col-lg-6 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s">
        <div class="section-heading">
          <h2>É tempo de <em class="color-green-secondary">RECICLAR</em>!</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pretium ullamcorper ligula. Sed leo leo, tincidunt ut pretium non, euismod non arcu. Maecenas at quam commodo, tincidunt risus nec, hendrerit tortor. Quisque quis commodo neque. Vestibulum rhoncus, lorem a congue sollicitudin, nulla ipsum porttitor ipsum, non fermentum lacus dolor id ante. In lorem quam, tincidunt sit amet nisl vitae, finibus feugiat ligula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="first-bar progress-skill-bar">
              <h4>Item 01</h4>
              <span>84%</span>
              <div class="filled-bar"></div>
              <div class="full-bar"></div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="second-bar progress-skill-bar">
              <h4>Item 02</h4>
              <span>88%</span>
              <div class="filled-bar"></div>
              <div class="full-bar"></div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="third-bar progress-skill-bar">
              <h4>Item 03</h4>
              <span>94%</span>
              <div class="filled-bar"></div>
              <div class="full-bar"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
