/* You can add global styles to this file, and also import other style files */

html, body{
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}


.color-green-secondary{
  color: #2ecc71 !important;
}

.color-green-third{
  color: #27ae60 !important;
}

.color-purple{
  color: #9b59b6 !important;
}
